#locations{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;;
    justify-content: space-around;
    height: 90vh;

}

@media(max-width: 500px){
    #locations{
        grid-template-columns: 1fr 1fr;
    }

    #locations div{
        font-size: large;
        height: 20vh;
    }

    #locations div:hover{
        height: 19vh;
       font-size: x-large;
       font-weight: bold;
    }
}

@media(min-width: 501px) and (max-width: 850px){
    #locations{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #locations div{
        font-size: large;
        height: 20vh;
    }

    #locations div:hover{
      height: 19vh;
      font-size: x-large;
      font-weight: bold;
    }
}

body{
    background-color: olivedrab;
}

#locations div{
    flex-basis: 16%;
    height: 40vh;
    text-align: center;
   
    line-height: 30vh;
    background-color: ivory;
    border-left: 20px solid antiquewhite;
    border-top: 20px solid antiquewhite;
    border-radius: 5%;

    margin: 3%;
    font-size: 36px;
    font-family: fantasy;
    color: maroon;
}

#locations div:hover{
    flex-basis: 17%;
    height: 39vh;
    font-size: xx-large;
    font-weight: bold;
}
