{% extends "layout.html" %}
{% block title %}History{% endblock %}

{% block shortcuts %}
                <a href="#1800">1800</a>
                <a href="#1870">1870</a>
                <a href="#1905">1905</a>
                <a href="#1907">1907</a>
                <a href="#1922">1922</a>
                <a href="#1923">1923</a>
                <a href="#1924">1924</a>
                <a href="#1935">1935</a>
                <a href="#1937">1937</a>
                <a href="#2006">2006</a>
{% endblock %}

{% block content %}
            <h3 style="width: 100%;">History:</h3>
            <p style="width: 100%;">Mahjong dates back to the late 1800's, however, it would not have came to be if certain things were not invented prior. In 1220, dominos were first invented and made with bamboo.
                   In 1644, a card game with similar rules to mahjong was made in China, called Ma Diao. Without these two inventions, the idea of mahjong would have never come to pass.
            </p>
            <h3 style="width: 100%;">Timeline:</h3>
           <div><h3 id="1800">Late 1800s</h3>
                <p>Dominos and Ma Diao lead to the birth of Mahjong that is credited as being introduced by Hung Hsiu-Ch’uan who leads a rebellion and declares himself as Emperor of Nanking where he is said to have introduced the game Ma Que in his court which is basically Mahjong. During this period, Ma Que becomes Ma Jiang or Mahjong.</p>
            </div>
            <div><h3 id="1870">1870</h3>
            <p>
                Two brothers in Ningpo invent the game Ma-Tiao which is very similar to Mahjong.
            </p>
            </div>
            <div><h3 id="1905">1905</h3>
            <p>The game Mahjong gains popularity throughout China</p>
            </div>

            <div><h3 id="1907">1907</h3>
            <p>Japan first experience with Mahjong.</p>
            </div>
            <div><h3 id="1922">1922</h3>
            <p>Mahjong migrates to the U.S. with the help of Joseph P. Babcock, who hacks down the original Chinese game so it will be simpler to play. This helps the sale of the game briefly but Americans grow weary of the simple rules and begin to add their own, which leads to mass confusion in the Mah Jong community.</p>
            </div>

            <div><h3 id="1923">1923</h3>
            <p>Mahjong migrates to Britain with both Chinese and American versions played. The British, unlike the Americans, are aware that the Chinese version is the original. The Queens Club Rules is released and basically stays true to the Chinese version and may explain why Mahjong has a longer lifespan in Britain during this era.</p>
            </div>

            <div><h3 id="1924">1924</h3>
            <p>In the U.S. two new versions of Mahjong surface: “One Double” and “Clear Hand.” However, like Babcock’s simpler version, these two games were briefly popular but fade out, hurting the popularity of Mahjong in the U.S.</p></div>
            <div><h3 id="1935">1935</h3>
            <p>Mahjong rises in the U.S. again thanks to The National Mahjong League Inc. publishing the new rules which really aren’t any different than the game of ten years ago.</p>
            </div>

            <div><h3 id="1937">1937</h3>
            <p>In Japan, Mahjong is banned during the Sino-Japanese War.</p>
            </div>
            <div><h3 id="2006">2006</h3>
            <p>The World Mahjong Organization is founded in Beijing, China.</p>
            </div>

{% endblock %}

{% block footnotes %}
            <h3>Related Links:</h3>
            <ul>
                <li>
                <a href="https://news.stanford.edu/news/2013/july/humanities-mahjong-history-071513.html#:~:text=Although%20the%20history%20of%20mahjong,and%20eventually%20among%20American%20expatriates." target="_blank">From China to U.S., the game of mahjong shaped modern America, says Stanford scholar</a>
                </li>
                <li> 
                <a href="https://en.wikipedia.org/wiki/Mahjong" target="_blank">Mahjong - Wikipedia</a>
                </li>
                <li>
                <a href="https://www.mahjongsets.co.uk/history-mahjong.html" target="_blank">The History of Mah Jong</a>
                 </li>
            </ul>
{% endblock %}
