<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<style>
    *{
        font-size: large;
    }
</style>

<body>
  
<div >
    <h2>Project Expectations</h2>
    <ol>
        <li>You will create a website for a client of your choosing. Your client could be a family member, a business, a student group, a friend, an online community, and so on. The only restriction is that the client cannot be just you.</li>
            <ul><li>We created a website about Mahjong. Our client is Davids brother.</li></ul>

        <li>Your site's webpages must include some sort of headers.</li>
            <ul><li>The website has a header that is consistent across all pages.</li></ul>

        <li>Your site must contain at least ten separate pages, each having a meaningful purpose.</li>
            <ul><li>The website contains 11 pages, including the homepage.</li></ul>

        <li>Your site's webpages must include some sort of navigation links.</li>
            <ul><li>The website has a navigation bar under the header with links to all pages.</li></ul>

        <li>Your site must support distinct layouts for large and small screens. For instance, multicolumn layouts on large screens should be reduced to single column layouts on small screens. You are encouraged to implement separate layouts using CSS media queries.</li>
            <ul><li>The website layout rearranges itself for three different screen sizes.</li></ul>

        <li>Your site must maintain a coherent style across its pages. Global style rules must be placed in a shared stylesheet. Individual pages’ style rules must be placed in a separate stylesheets.</li>
        <ul><li>The styling is consisten across all the pages. The styling is separated into various files. There is a file for global styling and other files for pages that required special styling.</li></ul>

        <li>Your site must include images, and their alt attributes must adequately describe the image content to users of screen readers, user with images disabled, and webcrawlers.</li>
            <ul><li>All of the pages have descriptive alt attributes.</li></ul>

        <li>Each page must declare its favicon.</li>
        <ul><li>Each page does indeed declare its favicon.</li></ul>

        <li>Your site’s non-HTML resources must be organized. Images must be placed in a directory named images. CSS files must be placed in a directory named css. </li>
            <ul><li>All the images are organized by page in the images folder. The css files are organized similarly.</li></ul>

        <li>Your site must not be built using any libraries or frameworks. Do not use Bootstrap, jQuery, React, Angular, Vue, or any other third-party tools. You may, however, reimplement the ideas you see in these third-party tools.</li>
            <ul><li>We did not use any external libraries nor frameworks.</li></ul>

        <li>Each page and stylesheet of your site must validate without any warnings or errors using the W3C’s HTML validator (Links to an external site.) and CSS validator (Links to an external site.).</li>
        <ul><li>All of the pages and stylesheets went through the validator without issue.</li></ul>

        <li>Your site could be stored in a Git repository that you have shared with your instructor. On GitHub, GitLab, and Bitbucket, share with the user gomesr-uwec.(Not required for this project but recommended)</li>
            <ul><li>We did not store the website on Github or anything else.</li></ul>

        <li>The names of your files should be entirely lowercase and contain only alphanumeric characters.</li>
            <ul><li>All of the files names only contain lowercase and alphanumberic characters.</li></ul>

        <li>Your content should be neatly aligned. The axes should be clearly visible.</li>
        <ul><li>The content is neatly aligned on the page. </li></ul>

        <li>Your site must use at least two different font faces. Headings are often rendered in a sans-serif font.</li>
            <ul><li>The header uses the cursive font and the rest of the text uses a different font family.</li></ul>

        <li>Your site must include links to external sites. Clicking on external links must open a new tab or window rather than replace your page.</li>
            <ul><li>There are links to external sites on most pages. Clicking on these links open the link in a new tab.</li></ul>

        <li>Your source code must be readable, using conventional and consistent formatting and meaningful names for classes and IDs.</li>
            <ul><li>The code is organized consitently and uses meaningful classes or IDs for the content. For example, the divs on the hands page use a class for the styling.</li></ul>

        <li>Your site's webpages should include a consistent navbar. </li>
            <ul><li>The navbar is visible on all pages and the content does not change.</li></ul>

        <li>Your site's webpages should include some sort of header and footer section along with the navbar.</li>
            <ul><li>The website has a footer on each page.</li></ul>

        <li>Your site's webpages should implement flexboxes/grids or a combination of both.  </li>
            <ul><li>The website is implemented using flexboxes.</li></ul>
    </ol>
    
    <h2>Client's Critique</h2>
    <p>&emsp;The website is overall visually appealing and there is a good amount of information that is useful for introducing someone to the game of Mahjong. The website is easy to navigate. I will use this website to introduce people to the game. It will be useful to use this as it is easily accessible and appeals to visual learners. It is great that there are examples of the different hands with the tiles shown on the screen. I’d rather there was not blank space on the right side of the page if there is nothing there to display. I do think that the website could look slightly more modern, and the page does not look right when opened in Safari. For example, the images for the hands are too stretched that you cannot make out what tile is there. This is also true for the images in the header. I would like for the website to be able to be opened on any device and the experience is the same independent of the browser/device. The website appears to work as designed in Chrome.</p>
  
</div>

</body>
</html>